#home{
    text-decoration: none; 
    color: white; 
    margin-right: 1430px;
    font-weight: 700;
    font-family: sans-serif;
}
#logo{
    margin-left: 15px;
    margin-top: -9px;
}
#text{
    color: beige;
    margin-left: 1340px;
    margin-top: -40px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}