.container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .table th {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
  }
  
  .table td {
    padding: 8px;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .table tbody tr:hover {
    background-color: rgba(233, 236, 239, 0.9);
    cursor: pointer;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.9);
  }
  #head{
    color: white;
  }
  #logout{
    margin-left: 118px;
  }